body {
  font-family: sans-serif;
}

input[type="number"] {
  font-size: 0.8em;
  tex-align: center;
}

input[type="checkbox"] {
  height: 2em;
  width: 2em;
}

input[type="submit"] {
  background-color: #bbbbbb;
  color: white;
  font-size: 1em;
  border-radius: 10px;
  border: none;
  padding: 10px 50px;
  display: block;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  color: #444444;
  padding: 20px;
}

.content {
  width: 1020px;
  height: 900px;
  margin: 0 auto;
}

.section {
  display: block;
  float: left;
  margin: 5px;
}

.topLeft {
  font-size: 1.5em;
  height: 450px;
  width: 500px;
}

.topRight {
  text-align: center;
  height: 450px;
  width: 500px;
}

.topRight img {
  height: 400px;
  width: auto;
}

.bot {
  text-align: center;
  font-size: 3em;
  padding: 10px 0;
  width: 1010px;
}

.submitted {
  background-color: #0066ff;
  color: white;
}
