body {
  font-family: sans-serif;
}

.title {
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  color: #444444;
  padding: 20px;
}

.content {
  width: 1020px;
  height: 900px;
  margin: 0 auto;
}

.section {
  display: block;
  float: left;
  margin: 5px;
}

.topLeft {
  font-size: 1.5em;
  height: 500px;
  width: 500px;
}

.topRight {
  text-align: center;
  height: 500px;
  width: 500px;
}

.topRight img {
  height: 400px;
  width: auto;
}

.bot {
  text-align: center;
  font-size: 3em;
  padding: 10px 0;
  width: 1010px;
}

.submitted {
  background-color: #0066ff;
  color: white;
}
